
/* demo styles
--------------------------------------------- */

body {
  font: 120% / 1.5 Arial;
  scroll-behavior: smooth;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > svg {
  position: absolute;
  top: 0;
  left: -100000;
}

a {
  text-decoration: underline;
  text-shadow: none;
  color: #fff;
}

p {
  font-size: 1em;
}

h1 {
  font-family: 'Pompiere', cursive;
  font-size: 3em;
  text-transform: uppercase;
}

.navbar-fixed-top {
  background: rgba(0,0,0,0.5) !important;
}

nav a {
  text-decoration: none;
}

/* slide layout
--------------------------------------------- */

.slide {
  position: relative;
  display: flex;
}
.slide_content {
  margin: auto;
  flex: 1;
  padding: 5%;
}
.slide svg {
  display: block;
  width: 100%;
  max-width: 560px;
  margin: auto;
}
.slide_text {
  background-color: rgba(0,0,0,0.4);
  padding: 7%;
}

.slide_image {
  width: 100%;
  height: 100%;
}

/* slide backgrounds */
.slide {
  background-image: repeating-linear-gradient(
  rgb(153, 216, 101),
  rgb(153, 216, 101) 30px,
  rgb(133, 196, 81) 30px,
  rgb(133, 196, 81) 60px
  );
}
.slide:nth-child(2n) {
  background-image: repeating-linear-gradient(
  90deg,
  rgb(133, 173, 230),
  rgb(133, 173, 230) 30px,
  rgb(113, 153, 210) 30px,
  rgb(113, 153, 210) 60px
  );
}
.wide {
  background-position: center;
  background-size: cover;
}
.wide .slide_text {
  transform-origin: initial;
  display: flex;
  flex-flow: column nowrap;
}

#slide-1 {
  background-image: url(/assets/babies.gif);
}

#slide-2 {
  background-image: url(https://pixabay.com/static/uploads/photo/2015/12/10/14/15/welcome-to-las-vegas-1086412_960_720.jpg);
}
#slide-5 {
  /* from https://www.flickr.com/photos/seat850/3191357513 */
  background-image: url(https://c2.staticflickr.com/4/3265/3191357513_117fd717b4_b.jpg);
}
#slide-8 {
  background-image: url(/assets/redrock.jpg);
}

#slide-1 .slide_text {
  text-align: center;
  background: transparent;
}

#slide-1 h1 {
  margin-bottom: 0.5em;
  padding: 0;
}

/* Large screen layout
--------------------------------------------- */  

@media screen and (min-width: 45em) {

  .slide_content {
    display: flex;
    align-items: center;
  }
  .slide_content > * {
    flex: 1;
  }
  .slide:nth-child(2n) .slide_text {
    order: 1;
  }

  /* parallax */
  @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
    html, body {
      overflow: hidden;
      height: 100%;
    }
    body {
      transform: translateZ(0px); /* Fix paint issues in Edge && Safari H/W acceleration */
    }
    .slides {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      perspective: 300px;
      scroll-behavior: smooth;
    }
    .slide {
      transform-style: preserve-3d;
      position: relative;
      height: 100%;
      width: 100%;
    }
    .slide_text {
      transform: translateZ(20px) scale(.96);
      padding: 5%;
    }
    .slide_image {
      transform: translateZ(60px) scale(.96);
      padding: 7%;
    }
    .slide:nth-child(2n) {
        z-index: 1;
    }
}
